.content {
    position: absolute;
    top: 200vh;
    z-index: 100;
    height: 100%;
    display: flex;
    align-content: center;
    background-color: var(--color-bg);

    &__wrapper {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-width: 1462px;
        display: flex;
        flex-direction: column;
    }

    &__block {
        gap: 114px;
        justify-content: space-between;
    }

    &__pretitle {
        margin-bottom: 27px;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.33em;
    }

    &__title {
        margin-bottom: 27px;
        font-family: var(--second-family);
        font-size: 64px;
        font-weight: 600;
        color: #fff;
    }

    &__text {
        margin-bottom: 27px;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        line-height: 178%;
    }

    &__link {
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 700;
    }
}
