.content {
    position: absolute;
    top: 192vh;
    z-index: 100;
    height: 100%;
    display: flex;
    align-content: center;
    background-color: var(--color-bg);

    @media (max-width: 1199px) {
        top: 250vh;
    }

    @media (max-width: 1025px) {
        top: 190vh;
    }

    @media (max-width: 991px) {
        top: 200vh;
    }

    @media (max-width: 877px) {
        top: 180vh;
    }

    @media (max-width: 767px) {
        top: 220vh;
    }

    @media (max-width: 575px) {
        top: 200vh;
    }

    &__wrapper {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-width: 1462px;
        display: flex;
        flex-direction: column;
    }

    &__block {
        margin-bottom: 20rem;
        gap: 114px;
        justify-content: space-between;

        @media (max-width: 1199px) {
            padding: 0 25px 10px !important;
            margin: 0 auto 15rem;
            flex-direction: column-reverse;
            gap: 150px !important;
        }

        &__1,
        &__3 {
            padding: 0px 10px 0px 150px;
        }

        &__2 {
            padding: 0px 10px 0px;
            gap: 264px;

            @media (max-width: 1199px) {
                flex-direction: column;
            }

            @media (max-width: 1399px) {
                gap: 180px;
            }
        }
    }

    &__title {
        position: relative;
        font-family: var(--second-family);
        font-size: 6.4rem;
        font-weight: 600;
        color: #fff;

        @media (max-width: 575px) {
            font-size: 3.5rem;
        }

        &__1 {
            &::before {
                content: 'get started' !important;
            }
        }

        &__2 {
            &::before {
                content: 'Hiking Essentials' !important;
            }
        }

        &__3 {
            &::before {
                content: 'where you go is the key' !important;
            }
        }

        &::before {
            top: -45px !important;
        }

        &::after {
            top: -35px !important;
        }
    }

    &__text {
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        line-height: 178%;
    }

    &__link {
        position: relative;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 700;

        svg {
            transition: transform 0.6s cubic-bezier(1, 0.68, 0.16, 0.9);
            transform: rotate(-90deg);

            path {
                fill: var(--color-accent);
            }
        }

        &:hover svg {
            transform: rotate(630deg);
        }
    }

    &__text-wrap {
        &__1 {
            &::before {
                content: '01' !important;
            }
        }
        &__2 {
            &::before {
                content: '02' !important;
            }
        }
        &__3 {
            &::before {
                content: '03' !important;
            }
        }
    }
}
