.content {
    position: absolute;
    top: 200vh;
    z-index: 100;
    height: 100%;
    border: 1px solid yellow;
    display: flex;
    align-content: center;
    background-color: var(--color-bg);

    &__wrapper {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-width: 1462px;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
    }

    &__block {
        gap: 114px;
        justify-content: space-between;
    }

    &__title {
        position: relative;
        font-family: var(--second-family);
        font-size: 64px;
        font-weight: 600;
        color: #fff;

        &::before {
            content: 'get started' !important;
            top: -45px !important;
        }

        &::after {
            top: -35px !important;
        }
    }

    &__text {
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        line-height: 178%;
    }

    &__link {
        position: relative;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 700;

        svg {
            transition: transform 0.6s cubic-bezier(1, 0.68, 0.16, 0.9);
            transform: rotate(-90deg);

            path {
                fill: var(--color-accent);
            }
        }

        &:hover svg {
            transform: rotate(630deg);
        }
    }
}
