.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;

    &__wrapper {
        padding: 55px 75px;
        justify-content: space-between;
        background-color: var(--color-transparent);

        @media (max-width: 575px) {
            padding: 55px 35px;
        }
    }

    &__nav {
        width: 31%;
        justify-content: space-between;

        @media (max-width: 1399px) {
            width: 40%;
        }

        @media (max-width: 1199px) {
            width: 50%;
        }

        @media (max-width: 991px) {
            height: 80%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
        }

        li:not(:last-child) {
            margin-right: 20px;
        }

        li {
            @media (max-width: 991px) {
                opacity: 0;
                transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
                transform: translateY(-30px);
            }

            .menu-open & {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        .menu-open & {
            height: 80%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
        }
    }
}

.nav {
    position: relative;
    font-size: 16px;
    font-weight: bold;

    &__link,
    &__item {
        color: var(--color-white);
    }

    &__link {
        transition: color 0.7s cubic-bezier(1, 0.68, 0.16, 0.9);

        &::before {
            @include pseudoelem;
            top: unset;
            bottom: -7px;
            height: 2px;
            background-color: var(--color-accent);
            transition: transform 0.7s cubic-bezier(1, 0.68, 0.16, 0.9);
            transform: scale3d(0, 5, 1);
            transform-origin: 0% 50%;
        }

        &:hover::before {
            transform: scale3d(1, 1, 1);
        }

        &:hover,
        &:active {
            color: var(--color-accent);
            transition: color 0.7s cubic-bezier(1, 0.68, 0.16, 0.9);
        }
    }
}
