.main-header {
    font-family: var(--font-family);
    background-color: var(--color-transparent);

    &__wrapper {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
        max-width: 192rem;

        padding: 55px 75px 30px;

        justify-content: space-between;

        transition: all 0.3s ease;

        @media (max-width: 991px) {
            padding: 30px 35px;
        }

        @media (max-width: 575px) {
            padding: 20px 35px;
        }

        &.header-fixed {
            background-color: rgba(255, 255, 255, 0.25);
        }
    }

    &__nav {
        width: 33%;
        justify-content: space-between;

        @media (max-width: 1399px) {
            width: 40%;
        }

        @media (max-width: 1199px) {
            width: 50%;
        }

        @media (max-width: 991px) {
            height: 80%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
        }

        li:not(:last-child) {
            margin-right: 20px;
        }

        li {
            @media (max-width: 991px) {
                margin-right: unset !important;
                opacity: 0;
                transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
                transform: translateY(-30px);
            }

            .menu-open & {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        .menu-open & {
            height: 80%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
        }
    }
}
