.main-footer {
    @media (max-width: 1500px) {
        padding: 0 2rem;
    }

    &__wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 835px) {
            gap: 5rem;
        }

        @media (max-width: 575px) {
            flex-direction: column;
        }
    }

    &__wrapper_left {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__wrapper_right {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 21.2rem;

        @media (max-width: 991px) {
            gap: 5rem;
        }
    }

    &__logo {
        margin-bottom: 3.7rem;
    }

    &__claim,
    &__legacy {
        font-family: var(--font-family);
        font-size: 1.8rem;
        line-height: 178%;
        color: var(--color-white);
    }

    &__claim {
        max-width: 30.3rem;
        margin-bottom: 12.2rem;
        font-weight: 700;

        @media (max-width: 575px) {
            margin-bottom: 5rem;
        }
    }

    &__legacy {
        font-weight: 500;
        opacity: 0.5;
    }
}
