.main-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    font-family: var(--second-family);
    font-weight: 300;
    text-transform: capitalize;
    color: var(--color-white);
    line-height: 114%;

    &::before,
    &::after {
        @include pseudoelem;
        opacity: 0;
        animation: title-add 0.7s ease-in 0.7s forwards;
        transform: translateX(-150px);
    }

    &::before {
        content: 'a hiking guide';
        top: -80px;
        left: 100px;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 800;
        text-transform: uppercase;
        color: var(--color-accent);
        letter-spacing: 0.33em;

        @media (max-width: 575px) {
            top: -57px;
            font-size: 13px;
        }

        @media (max-width: 319px) {
            left: 60px;
            max-width: 80%;
        }
    }

    &::after {
        top: -35px;
        left: 0px;
        width: 72px;
        height: 2px;
        background-color: var(--color-accent);

        @media (max-width: 1199px) {
            top: -40px;
        }

        @media (max-width: 991px) {
            top: -37px;
        }

        @media (max-width: 575px) {
            top: -33px;
        }

        @media (max-width: 319px) {
            width: 30px;
        }
    }

    &__scroll {
        width: 126px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 700;
        text-transform: none;
        opacity: 0;
        animation: title-add 0.7s ease-in 0.7s forwards;
        transition: color 0.3s ease;

        transform: translateX(-150px);

        svg {
            width: 16px;
            height: 24px;
            animation: arrow-jumping 2s ease-in 1.7s infinite;

            path {
                transition: color 0.3s ease;
            }
        }

        &:hover {
            color: var(--color-accent);
        }

        &:hover svg path {
            fill: var(--color-accent);
        }
    }
}

.title-anim {
    opacity: 0;
    animation: title 0.7s ease-in 0.7s forwards;
}

@keyframes arrow-jumping {
    0%,
    20%,
    40%,
    100% {
        transform: translateY(0px);
    }
    10%,
    30% {
        transform: translateY(-15px);
    }
}

@keyframes title {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes title-add {
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
