.parallax {
    position: relative;
    min-height: 100vh;
    background-color: var(--color-bg);
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    transform-style: preserve-3d;
    perspective: 100px;

    &::-webkit-scrollbar {
        width: 0px;
        visibility: hidden;
    }

    &__layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        display: block;
        object-fit: contain;
        background: var(--color-transparent);

        &_text {
            top: 305px;
            left: 140px;
            z-index: 2;
            margin: 0 auto;
            width: 80%;
            // height: auto;
            max-width: 940px;
            font-size: 8rem;
            opacity: 1;
            transition: opacity 0.3s ease;

            @media (max-width: 1399px) {
                top: 250px;
            }

            @media (max-width: 1199px) {
                top: 200px;
                left: 150px;
                font-size: 8rem;
            }

            @media (max-width: 991px) {
                left: 100px;
                font-size: 6rem;
            }

            @media (max-width: 767px) {
                left: 50px;
            }

            @media (max-width: 575px) {
                left: 0px;
                font-size: 4rem;
            }

            @media (max-width: 319px) {
                top: 190px;
            }
        }

        &_0 {
            background: url(../img/sk1.png) 0% 0% / cover no-repeat;
            transform: translateY(0px) translateZ(-100px) scale(2);

            &::after {
                @include pseudoelem;
                background: linear-gradient(347deg, rgba(11, 29, 38, 0) 0%, #2f3f49 100%);
            }
        }

        &_1 {
            background: url(../img/mt.png) 0% 0% / cover no-repeat;
            transform: translateY(380px) translateZ(-70px) scale(1.7);

            @media (max-width: 1399px) {
                transform: translateY(350px) translateZ(-70px) scale(1.7);
            }

            @media (max-width: 1199px) {
                transform: translateY(800px) translateZ(-70px) scale(1.7);
            }

            @media (max-width: 1025px) {
                transform: translateY(500px) translateZ(-70px) scale(1.7);
            }

            @media (max-width: 991px) {
                background-position: 20% 0%;
                transform: translateY(120px) translateZ(-70px) scale(1.7);
            }

            @media (max-width: 877px) {
                transform: translateY(200px) translateZ(-70px) scale(1.7);
            }

            @media (max-width: 835px) {
                transform: translateY(200px) translateZ(-70px) scale(1.7);
            }

            @media (max-width: 800px) {
                transform: translateY(250px) translateZ(-70px) scale(1.7);
            }

            @media (max-width: 767px) {
                transform: translateY(320px) translateZ(-70px) scale(1.7);
            }

            @media (max-width: 575px) {
                transform: translateY(300px) translateZ(-70px) scale(1.7);
            }

            @media (max-width: 319px) {
                transform: translateY(180px) translateZ(-70px) scale(1.7);
            }
        }

        &_2 {
            z-index: 3;
            background: url(../img/gr1.png) 0% 0% / cover no-repeat;
            transform: translateY(800px) translateZ(0px) scale(1);

            @media (max-width: 1399px) {
                background-position: 20% 0%;
                transform: translateY(700px) translateZ(0px) scale(1);
            }

            @media (max-width: 1281px) {
                transform: translateY(750px) translateZ(0px) scale(1);
            }

            @media (max-width: 1199px) {
                transform: translateY(1100px) translateZ(0px) scale(1);
            }

            @media (max-width: 1025px) {
                transform: translateY(1200px) translateZ(0px) scale(1);
            }

            @media (max-width: 991px) {
                transform: translateY(970px) translateZ(0px) scale(1);
            }

            @media (max-width: 877px) {
                transform: translateY(1100px) translateZ(0px) scale(1);
            }

            @media (max-width: 835px) {
                transform: translateY(800px) translateZ(0px) scale(1);
            }

            @media (max-width: 800px) {
                transform: translateY(900px) translateZ(0px) scale(1);
            }

            @media (max-width: 767px) {
                background-position: 25% 0%;
                transform: translateY(880px) translateZ(0px) scale(1);
            }

            @media (max-width: 575px) {
                transform: translateY(650px) translateZ(0px) scale(1);
            }

            @media (max-width: 319px) {
                transform: translateY(850px) translateZ(0px) scale(1);
            }
        }
    }
}
