html,
body {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    color: var(--color-white);
    background-color: var(--color-bg);
    transition: all 0.5s ease;
    overflow-x: hidden;

    &::after {
        content: url(../img/account.svg) url(../img/arrow.svg) url(../img/gr.png)
            url(../img/logo.svg) url(../img/mt.png) url(../img/sk.png) url(../img/1.jpg)
            url(../img/2.jpg) url(../img/3.jpg);
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('./fonts/Gilroy-Light.woff2') format('woff2'),
        url('./fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('./fonts/Gilroy-Light.woff') format('woff'),
        url('./fonts/Gilroy-ExtraBold.ttf') format('ttf'),
        url('./fonts/Gilroy-Light.ttf') format('ttf');
    font-display: swap;
}
