@import url('https://fonts.cdnfonts.com/css/chronicle-display');

// Base
@import './base/reset';
@import './base/vars';
@import './base/base';
@import './base/utils';
@import './base/mixins';
@import './base/breakpoints';

// Components
@import './components/header';
@import './components/parallax';
@import './components/burger';
@import './components/account';
@import './components/main-title';
@import './components/content';
